.idea/
*.iml
out/
src/Homework1/PrimitiveTypes.java
src/Homework2/ArrayFindDuplicates.java
src/Homework2/AverageNum.java
src/Homework2/PositiveNumbersSum.java
src/Homework2/SortArray1.java
src/Homework2/SortArray2.java
src/homework3/Car.java
src/homework3/CircleArea.java
src/homework3/Main.java
src/homework3/ObjectsNumber.java
src/homework3
src/Homework2
src/Homework1